/*Header Section*/
.container hr {
	margin-left: 28.50%;
}

/*Body or Content Section*/
.content {
	background-color: white;
}

.mySlides {
	display:none;
}

.gal_container {
	position: relative;
	margin-top: 2em; 
	width: 100%;
}

.gal_container img {
	height: 100%;
	overflow: hidden;
}

.content button {
	width: 5%;
	border: none;
	background: black;
	color: white;
	font-size: 150%;
}

.gal_left {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	right: 95%;
}

.gal_right {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 100%;
}

.festives_but {
	width: 100%;
}

.festives_but button{
	font-family: body-text;
	background-color: white;
	border: solid 1px black;
	border-radius: 5px;
	color: black;
	width: 20%;
	margin: 2% 5%;
	padding: 1%;
	transition: border .2s ease-in-out, background-color .2s ease-in-out;
}

.festives_but button:hover {
	border: solid 1px green;
	background-color: rgba(0,0,0,0.5);
}